<!DOCTYPE html>
<html>
  <head>
    <title>Recruiters</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <!-- flashにメッセージがあるとき --> 
    <% unless flash.empty? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
            // flash[:notice] = "signed in successfully"
            // f[0] = :notice, f[1] = "signed in successfully"
            <% type = f[0].to_s.gsub('alert','error').gsub('notice','info') %>
            toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
        </script>
    <% end %>











  </body>
</html>
